{% if not status or status == "error" %}
  {% set class = "bg-red-50 border-red-200" %}
  {% set icon_class = "bi bi-exclamation-triangle-fill" %}
{% elif status == "info" %}
  {% set class = "bg-cyan-50 border-cyan-200" %}
  {% set icon_class = "bi bi-info-circle-fill" %}
{% elif status == "warning" %}
  {% set class = "bg-amber-50 border-amber-200" %}
  {% set icon_class = "bi bi-exclamation-circle-fill" %}
{% endif %}

<div class="{{ class }} border p-4 rounded-xl flex-1 flex flex-col gap-2">
  <p class="not-prose uppercase text-xs text-gray-500 flex gap-2 items-center">
    <i class="{{ icon_class }}"></i>
    <span>{{ title }}</span>
  </p>
  <div class="prose text-base font-medium">
    {{ body | markdown | safe }}
  </div>
</div>
