{% extends "page.html" %}

{% block before_page_content %}
<table class="prose">
    <thead>
        <th>Round</th>
        {% for column in page.extra.archive.columns %}
        <th>{{ column.label }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for test in page.extra.archive.tests %}
        <tr>
            <td>{{ test.title }}</td>
            {% for column in page.extra.archive.columns %}
            <td>
                {% set href = test | get(key=column.key, default="") %}
                {% if href %}
                <a href="{{ href }}">{{ href | split(pat=".") | last | upper }}</a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
