{% extends "base.html" %}

{% block content %}
<div class="flex-1 flex flex-col items-center justify-center">
  <p id="text-404">404</p>
  <p class="text-gray-500 text-lg font-light">
    Page Not Found.
    <a href="/" class="shadow-link">Go home?</a>
  </p>
</div>

<script type="module">
  const text404 = document.getElementById("text-404");
  const gradient = getComputedStyle(text404).backgroundImage;
  const shadowColor = getComputedStyle(text404).getPropertyValue("--text-shadow").split(",")[0].replace("1px 1px", "").trim();

  function normalizeOffset(xOffset, yOffset) {
    const length = Math.sqrt(xOffset ** 2 + yOffset ** 2);
    const effLength = Math.min(length / 200, 1)
    return [xOffset / length * effLength, yOffset / length * effLength];
  }


  function layerShadow(xOffset, yOffset) {
    // Repeat 10 times, with increasing offset and color
    return [...Array(10).keys()].map((i) =>
      `${xOffset * i}px ${yOffset * i}px ${shadowColor}`
    ).join(", ");
  }

  document.addEventListener("mousemove", function (e) {
    const box = text404.getBoundingClientRect();
    const [xOffset, yOffset] = normalizeOffset(
      (box.left + box.right) / 2 - e.clientX,
      (box.top + box.bottom) / 2 - e.clientY
    );
    const shadow = layerShadow(xOffset, yOffset);
    const angle = Math.atan2(yOffset, xOffset) - Math.PI * 1 / 2;
    text404.style.backgroundImage = gradient.replace("to right bottom", `${angle}rad`);
    text404.style.setProperty("--text-shadow", shadow);
  }, false);
</script>
{% endblock %}
