{% import "macros.html" as macros %}

{% set_global prose_cls = "prose prose-h1:font-bold prose-h1:mt-16 first:prose-h1:mt-0 prose-a:text-blue-500
prose-td:border-r last:prose-td:border-r-0 prose-th:border-r last:prose-th:border-r-0 max-w-none" %}

<!DOCTYPE html>

<html lang="en" class="bg-gray-50">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
    Berkeley Math Tournament
    {% endblock %}
  </title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css">
  <link rel="stylesheet" href="/style.css?{{ get_random(end=1000000) }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body);"></script>

  <script>
    function thing() {
      document.getElementById("navbar").classList.toggle("open");
    }
  </script>
</head>

<body>
  <div class="max-w-4xl p-4 md:p-8 mx-auto flex flex-col gap-4 md:gap-8">
    {% block header %}
    <header class="flex flex-col gap-4 text-center">
      <a class="mx-auto" href="/"><img src="/assets/logo.png" alt="BMT Logo" width="80"></a>
      <p class="text-2xl font-bold">Berkeley Math Tournament</p>

      <nav id="navbar"
        class="[&.open>a.nav-hidden]:block [&>a.nav-hidden]:hidden flex flex-col md:flex-row md:mx-auto gap-4 items-stretch">
        {{ macros::nav_link(path="@/_index.md", label="Home") }}
        {{ macros::nav_link(path="@/news/_index.md", label="News") }}
        {{ macros::nav_link(path="@/about.md", label="About") }}
        {{ macros::nav_link(path="@/sponsors/index.md", label="Sponsors") }}
        {{ macros::nav_link(path="@/archives/_index.md", label="Archives") }}
        {{ macros::nav_link(path="@/events/bmt-2023.md", label="BMT 2023") }}
        {{ macros::nav_link(path="@/events/bmt-2023-online.md", label="BMT 2023 Online") }}
      </nav>
    </header>
    {% endblock %}

    <hr>

    <div class="flex flex-col gap-4 md:gap-8">
      {% block content %}{% endblock %}
    </div>

    <hr>

    {% block footer %}
    <div class="flex flex-col items-center justify-between md:items-start text-center md:flex-row gap-4 mb-12">
      <div class="flex flex-col gap-6 items-center md:items-start">
        <img class="-ml-1 grayscale brightness-0" src="/assets/logo.png" alt="BMT Logo" width="50">

        <div class="flex gap-4 text-xl">
          <a href="https://www.instagram.com/berkeley_mt/"><i class="bi bi-instagram"></i></a>
          <a href="https://www.tiktok.com/@berkeley_mt"><i class="bi bi-tiktok"></i></a>
          <a href="mailto:questions@bmt.berkeley.edu"><i class="bi bi-envelope-fill"></i></a>
        </div>
      </div>

      <div class="flex flex-col gap-4 items-center md:items-end md:text-right max-w-xs">
        <a href="https://ocf.berkeley.edu">
          <img src="https://ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg" width="80"
            alt="Hosted by the OCF" />
        </a>

        <p class="text-xs">
          We are a student group acting independently of the University of California. We take full responsibility for
          our organization and this web site.
        </p>
      </div>
    </div>
    {% endblock %}
  </div>
</body>

</html>
