{% import "macros.html" as macros %}

{% set_global prose_cls = "prose prose-h1:font-bold prose-h1:mt-16 first:prose-h1:mt-0 prose-a:text-blue-500
max-w-none" %}

<!DOCTYPE html>

<html lang="en" class="bg-gray-50">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
    Berkeley Math Tournament
    {% endblock %}
  </title>

  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="max-w-4xl p-8 mx-auto flex flex-col gap-8">
    {% block navbar %}
    <nav class="flex flex-col items-center gap-4">
      <img src="/assets/logo.png" width="80">
      <p class="text-2xl font-bold">Berkeley Math Tournament</p>

      <div class="flex gap-4">
        {{ macros::nav_link(path="@/_index.md", label="Home") }}
        {{ macros::nav_link(path="@/about.md", label="About") }}
        {{ macros::nav_link(path="@/events/bmmt-2023.md", label="BmMT 2023") }}
      </div>
    </nav>
    {% endblock %}

    <hr>

    <div class="{{ prose_cls }}">
      <p>
        This is a work-in-progress version of the new BMT website, very minimal at the moment but with more to be added
        as it is developed. If you're a BMT member, feedback is appreciated.
      </p>
      <p>
        For the general public, please visit the current site at
        <a href="https://bmt.berkeley.edu">https://bmt.berkeley.edu</a>.
      </p>
    </div>

    <hr>

    <div class="flex flex-col gap-8">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>

</html>
