{% extends "base.html" %}

{# Macro for news post notifications #}

{% macro post_notification(title, href, class, icon_class, label) %}
<a class="{{ class }} hover:-translate-y-1 transition-all border p-4 rounded-xl flex items-center gap-2"
  href="{{ href }}">
  <div class="flex-1 flex flex-col gap-2">
    <p class="uppercase text-xs text-gray-500 flex gap-2 items-center">
      <i class="bi {{ icon_class }}"></i>
      <span>{{ label }}</span>
    </p>
    <p class="text-base font-medium">
      {{ title | split(pat="\n") | join(sep=" • ") }}
    </p>
  </div>

  <i class="bi bi-chevron-right"></i>
</a>
{% endmacro %}

{# Macro for event cards #}

{% macro event(name, date, description, href, class="") %}
<div class="group rounded-xl overflow-hidden {{ class }} transition-all hover:-translate-y-1">
  <a href="{{ href }}" class="p-6 flex flex-col gap-4 group-hover:backdrop-brightness-75 transition-all h-full">
    <div class="flex flex-col gap-1">
      <h3 class="font-bold text-lg md:text-2xl flex items-center gap-2">
        <span>{{ name }}</span>
        <i class="bi bi-chevron-right text-base transition-transform"></i>
      </h3>
      <p class="text-sm font-medium opacity-50">{{ date }}</p>
    </div>

    <p class="text-base opacity-90">
      {{ description | safe }}
    </p>
  </a>
</div>
{% endmacro %}

{# Macro for sponsor tier #}

{% macro sponsor_tier(title, sponsors, grid_cols) %}
{% if sponsors %}
<div>
  <h3 class="font-bold text-lg md:text-2xl mb-4">{{ title }}</h3>
  <div class="grid {{ grid_cols }} gap-8">
    {% for sponsor in sponsors %}
    <a href="{{ sponsor.href }}" class="hover:opacity-80 transition-opacity">
      <img src="{{ sponsor.src }}" alt="{{ sponsor.alt }}" class="w-full">
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{# =============================== #}
{# = STARTING THE ACTUAL CONTENT = #}
{# =============================== #}

{% block content %}

{# News post notification, if there is one #}
<div class="flex flex-col gap-4">
  {% set news_section = get_section(path="news/_index.md") %}
  {% set news_posts = news_section.pages | slice(end=1) %}
  {% for news_post in news_posts %}
  {{ self::post_notification(
    title=news_post.title,
    href=news_post.permalink,
    class="bg-rose-50 hover:bg-rose-100 border-rose-200",
    icon_class="bi-megaphone-fill",
    label="News",
  ) }}
  {% endfor %}

  {% set blog_section = get_section(path="blog/_index.md") %}
  {% set blog_posts = blog_section.pages | slice(end=0) %}
  {% for blog_post in blog_posts %}
  {{ self::post_notification(
    title=blog_post.title,
    href=blog_post.permalink,
    class="bg-blue-50 hover:bg-blue-100 border-blue-200",
    icon_class="bi-pencil-square",
    label="Blog",
  ) }}
  {% endfor %}
</div>


{# Main banner & description #}

<div id="banner" class="bg-black p-6 md:p-8 rounded-xl">
  <p class="h-full text-xl md:text-3xl font-bold text-white flex flex-col justify-between">
    <span class="order-0 after:content-['…'] text-left">Promoting advanced math</span>
    <span class="order-2 before:content-['…'] text-right">to middle and high school students</span>
    <span class="order-1 text-center">{{ macros::index_math() }}</span>
  </p>
</div>

<div>
  <p class="text-lg md:text-xl leading-relaxed">
    A UC Berkeley student-led organization that aims to spread mathematics and the spirit of mathematical competition
    globally by presenting students with interesting, original, hand-crafted problems. With over 4,000 annual student
    participants from all across the globe, BMT is the largest student-run math competition in the world.
  </p>
</div>

<hr>

{# Events section #}

<h2 class="font-bold text-2xl">Recent & Upcoming Events</h2>

<div class="flex flex-col md:grid grid-cols-6 gap-4 max-w-4xl">
  {{ self::event(
  class="col-span-6 bg-gradient-to-br shadow-lg from-fuchsia-700 to-fuchsia-900 text-white",
  name="Berkeley Math Tournament 2025",
  date="November 8, 2025",
  href="/events/bmt-2025/",
  description="Our on-campus fall tournament offers teams of high school students the opportunity to share their interest in
  mathematics with like-minded individuals and to get a taste of the concepts studied in higher mathematics."
  ) }}

  {{ self::event(
  class="col-span-4 bg-gradient-to-br shadow-lg from-orange-700 to-orange-900 text-white",
  name="BMT 2025 Online",
  date="December 6, 2025",
  href="/events/bmt-2025-online/",
  description="The online, synchronous version of our flagship high school tournament for students unable to travel to California!"
  ) }}

  {{ self::event(
  class="col-span-2 bg-gradient-to-br from-slate-200 to-slate-300",
  name="BMT 2025 China",
  date="November 29–30, 2025",
  href="https://www.seedasdan.asia/en/bmt-en/",
  description="Our partner ASDAN hosts this in-person tournament in Beijing, China."
  ) }}
</div>

<hr>

{# Rest of content (rendered from markdown) #}

<div class="prose">
  {{ section.content | safe }}
</div>

<hr>

{# Sponsors #}

<h2 class="font-bold text-2xl">2025–2026 Sponsors</h2>

{% for tier in section.extra.sponsor_tiers %}
{% if loop.index > 1 %}
<hr>
{% endif %}

<p class="text-gray-500 text-center text-base">{{ tier.title }}</p>
<div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
  {% for sponsor in tier.sponsors %}
  <a href="{{ sponsor.href }}">
    <img src="{{ sponsor.src }}" alt="{{ sponsor.alt }}" class="{{ tier.img_class }}">
  </a>
  {% endfor %}
</div>
{% endfor %}

{% endblock %}
