{% extends "base.html" %}

{% block content %}

<div class="flex flex-col gap-3">
  <div>
    <h1 class="text-3xl md:text-4xl font-bold tracking-tight">
      {{ macros::newline_break(str=page.title) }}
    </h1>
    <div class="mt-3 h-1 w-12 rounded-full bg-teal-400"></div>
  </div>

  {% if page.date %}
  <p class="text-lg text-gray-500">
    {% if page.authors %}
    <span class="text-gray-700 font-medium">{{ page.authors | join(sep=", ") }}</span> &middot;
    {% endif %}
    {{ page.date | date(format="%A, %B %-d, %Y, %-I:%M %p") | trim_end_matches(pat=", 12:00 AM") }}
  </p>
  {% endif %}

  {% if page.taxonomies["tags"] %}
  <p class="text-sm text-gray-400 flex gap-2">
    {% for tag in page.taxonomies["tags"] %}
    <span>#{{ tag }}</span>
    {% endfor %}
  </p>
  {% endif %}
</div>

{% block before_page_content %}{% endblock %}

{% if page.content %}
<main id="content" class="prose">
  {{ page.content | safe }}
</main>
{% endif %}

{% block after_page_content %}{% endblock %}

{% if page.toc %}
<div class="hidden xl:block absolute -right-8 translate-x-full h-full max-w-48">
  <nav id="toc" class="sticky top-8">
    {{ macros::toc(toc=page.toc) }}
  </nav>
</div>
{{ macros::toc_js() }}
{% endif %}

{% endblock %}
