{% extends "base.html" %}

{% block content %}

<div class="flex flex-col gap-3">
  <h1 class="text-3xl font-semibold">
    {{ macros::newline_break(str=page.title) }}
  </h1>

  {% if page.date %}
  <h2 class="text-xl">
    {% if page.authors %}
    {{ page.authors | join(sep=", ") }} •
    {% endif %}
    {{ page.date | date(format="%A, %B %-d, %Y, %-I:%M %p") | trim_end_matches(pat=", 12:00 AM") }}
  </h2>
  {% endif %}

  {% if page.taxonomies["tags"] %}
  <p class="text-sm text-gray-500 flex gap-2">
    {% for tag in page.taxonomies["tags"] %}
    <span>#{{ tag }}</span>
    {% endfor %}
  </p>
  {% endif %}
</div>

{% block before_page_content %}{% endblock %}

<main id="content" class="prose">
  {{ page.content | safe }}
</main>

{% block after_page_content %}{% endblock %}

{% if page.toc %}
<div class="hidden xl:block absolute -right-8 translate-x-full h-full max-w-48">
  <nav id="toc" class="sticky top-8">
    {{ macros::toc(toc=page.toc) }}
  </nav>
</div>
{{ macros::toc_js() }}
{% endif %}

{% endblock %}
