{% extends "base.html" %}

{% block canonical %}
  <link rel="canonical" href="{{ page.extra.url | safe }}">
{% endblock canonical %}

{% block extra_head %}
  <noscript>
    <meta http-equiv="refresh" content="0; url={{ page.extra.url | safe }}">
  </noscript>

  <script>
    window.location.replace("{{ page.extra.url | safe }}");
  </script>
{% endblock extra_head %}

{% block content %}
  <p>If you are not redirected automatically, follow <a href="{{ page.extra.url | safe }}">this link</a> to be redirected.</p>
{% endblock content %}
