{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}

{# =================== #}
{# = SECTION HEADING = #}
{# =================== #}

<div class="flex flex-col gap-3">
  <h1 class="text-3xl font-semibold">
    {{ macros::newline_break(str=section.title) }}
  </h1>
</div>

{# ==================== #}
{# = MARKDOWN CONTENT = #}
{# ==================== #}

{% block before_section_content %}{% endblock %}

{% if section.content %}
<div class="prose">
  {{ section.content | safe }}
</div>
{% endif %}

{# ================ #}
{# = PAGE LISTING = #}
{# ================ #}

{{ macros::section_listing(section=section) }}

{% endblock %}
