{% extends "base.html" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="flex flex-col gap-3">
  <h1 class="text-3xl font-semibold">
    {{ macros::newline_break(str=page.title) }}
  </h1>
</div>

{% if page.content %}
<main id="content" class="prose">
  {{ page.content | safe }}
</main>
{% endif %}

{% if page.toc %}
<div class="hidden xl:block absolute -right-8 translate-x-full h-full max-w-48">
  <nav id="toc" class="sticky top-8">
    {{ macros::toc(toc=page.toc) }}
  </nav>
</div>
{{ macros::toc_js() }}
{% endif %}

{% endblock %}
