{% extends "page.html" %}
{% import "round-nav.html" as round_nav %}
{% import "macros.html" as macros %}

{% block after_page_content %}
{% set archives = get_section(path="archives/_index.md") %}
<div class="prose">
  {{ archives.content | safe }}
</div>
{{ round_nav::nav(current=page.path) }}
{% set_global events = [] %}
{% for archive in archives.pages %}
{% if archive.title | split(pat=" ") | first == page.extra.tournament %}
{% set_global events = events | concat(with=archive) %}
{% endif %}
{% endfor %}
<h2 class="text-lg font-semibold">Browse by tournament</h2>
{{ macros::page_listing(pages=events) }}
{% endblock %}
