{% extends "page.html" %}

{% block before_page_content %}
{% set tests = page.extra | get(key="tests", default=[]) %}

{% if tests %}
<table class="{{ prose_cls }}">
    <thead>
        <th>Round</th>
        <th>Problems</th>
        <th>Solutions</th>
    </thead>
    <tbody>
        {% for test in tests %}
        <tr>
            <td>{{ test.title }}</td>
            <td><a href="{{ test.problems }}">Problems</a></td>
            <td><a href="{{ test.solutions }}">Solutions</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
