{% extends "page.html" %}

{% block before_page_content %}
<table class="{{ prose_cls }}">
    <thead>
        <th>Round</th>
        {% for column in page.extra.archive.columns %}
        <th>{{ column.label }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for test in page.extra.archive.tests %}
        <tr>
            <td>{{ test.title }}</td>
            <td><a href="{{ test.problems }}">Problems</a></td>
            <td><a href="{{ test.solutions }}">Solutions</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
